* {
  box-sizing: border-box;
}

header {
  margin-top: 2em;
  margin-bottom: 2em;
}

.post-recommend button {
  width: 5em;
  height: 5em;
  margin: 1em;
}

.reply-area > ul {
  padding: 0px;
}

.reply-area li {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  vertical-align: middle;
  margin-left: 0;
  margin-right: 0;
}

.reply-area .reply-command > button {
  margin-left: 0.5em;
  width: 40px;
  height: 40px;
}

.reply-add textarea {
  height: 100% !important;
}

.reply-add input+input {
  margin-top: 0.5rem;
}